Repository digirati-co-uk/timeliner, pull requests merged in 2018-08, with the labels that each got.

#20 Added technical details and dev tasks for metadata user stories
  src/components/MetadataDisplay/MetadataDisplay.js
  src/components/MetadataEditor/MetadataEditor.js
  src/components/TimeMetadata/TimeMetadata.js
  src/components/docs/user-stories/metadata.mdx
Labels: :writing_hand: metadata

#21 Added bubble technical details
  src/components/docs/user-stories/bubble.mdx
Labels: :wavy_dash: bubble

#19 Rough proof of concept AV Provider and audio syncing
  src/components/IIIFAvProvider/IIIFAvProvider.js
  src/components/IIIFAvProvider/IIIFAvProvider.mdx
Labels: :speaker: A/V

#25 Feature/audio user stories
  src/components/docs/user-stories/audio.mdx
Labels: :speaker: A/V
